.search-bar {
  position: relative;
  width: 100%;
  top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .outer-box {
  background: white;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 18px;
  box-shadow: 0 0 6px -3px black;
  border-radius: 10px;
}

.search-bar .outer-box div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .outer-box .search-item {
  color: grey;
  font-size: 20px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  background: #f3f3f3;
  text-align: center;
  height: 60px;
  min-width: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-bar .outer-box .search-btn .search-item {
  background: #ffe66d;
  color: #1a535c;
}

.app-background {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: red;
}

.app-background .behind-img {
  position: relative;
  width: 100%;
  filter: blur(2px);
  opacity: 0.7;
}

.app-background .center-things {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.app-background .center-things .loghme-icon {
  width: 170px;
  height: 170px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}

.app-background .center-things .loghme-title {
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.app-background over-img{
  position: relative;
  width: 100%;
  top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-loghme-icon-img{
  width: 100% !important;
}

.text-title {
  text-align: center;
  border-bottom: solid 2px #1a535c;
  color: #1a535c;
  font-size: 35px;
  padding: 0px 10px 0px 10px;
}

.center-text {
  text-align: center;
}

.foodPartyTime {
  width: max-content;
  min-width: 2px;
  text-align: center;
  margin: 15px auto;
  height: 40px;
  padding: 6px 6px;
  border: solid 2px rgba(0, 0, 0, 0.4);
  border-radius: 11px;
}

.restaurants-container {
  justify-content: center;
  padding-right: 5vw;
  padding-left: 5vw;
}

.card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem !important;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 10px 10px 40px 10px;
  /*justify-content: center;*/
  align-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

@media all and (min-width: 1600px) {
  .restaurants-container {
      padding-right: 15vw;
      padding-left: 15vw;
  }
}

.card:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 11px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid;
  transform: scale(1.1);
  z-index: 100;
}

/* FOOD LIST */

.restaurant-item-container {
  /*width: 100%;*/
  min-height: 310px;
  min-width: 270px;
}

.restaurant-item-container .img-wrapper {
  /*border: 1px solid red;*/
  height: 0;
  overflow: hidden;
  width: 45%;
  padding-top: 45%;
  box-sizing: border-box;
  position: relative;
}

.restaurant-item-container .img {
  width: 100%;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10%;
}

.restaurant-item-container .title-wrapper {
  width: 95%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.restaurant-item-container .title-wrapper .title-text {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
}

.restaurant-item-container .title-wrapper .rating-star-text {
  font-weight: lighter;
  margin-left: 2px;
}

.restaurant-item-container .title-wrapper .rating-star-img {
  font-size: 110%;
  color: rgba(255, 165, 40);
}

.restaurant-item-container .price-wrapper {
  color: rgba(0, 0, 0, 0.6);
}

.restaurant-item-container .card-button-wrapper {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 50%;
  justify-content: end;
  align-items: center;
  align-content: center;
  /*position: absolute;*/
  bottom: 10px;
  flex: auto;
}

.slider {
  width: 100%;

  border-top: solid 0.5px black;
  border-bottom: solid 1px black;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2), 0 4px 11px 0 rgba(0, 0, 0, 0.19);
}
.cart-list-item-wrapper {
  margin: 5px;
  width: 100%;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}
ul{
  list-style-type: none;
}

.inside-scroll {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2), 4px 4px 11px 4px rgba(0, 0, 0, 0.19);
}
 .tp{
   color: red;
   text-align: center;
 }
.res-info {
  border-top: dashed 1px black;
}

.inline{
  display: inline-block;
}

.old-price-decoration {
  text-decoration: line-through red; 
}

.count-style {
  border: solid 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: rgb(244, 255, 247);
}

.buy-style {
  border: solid 2px rgba(0, 210, 196);
  color: white;
  border-radius: 5px;
  padding: 1px;
  padding-right: 23px;
  padding-left: 23px;
  background-color: rgb(0, 210, 196);
}

.cant-buy {
  border: solid 2px rgba(196, 196, 196);
  color:white;
  border-radius: 5px;
  padding: 1px;
  padding-right: 23px;
  padding-left: 23pxå;
  background-color: rgb(196, 196, 196);
}

.cart-items {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
}

.display-flex {
  display: flex;
}

.mmm {
  margin-left: 5px;
}

.cart-container .cart-list-wrapper {
  border-radius: 1rem;
  border: dashed 1px rgba(0, 0, 0, 0.7);
  min-height: 100px;
  width: 90%;
  margin-top: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.cart-container .cart-list-wrapper .cart-list-item-wrapper {
  margin: 5px;
  width: 100%;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.tc {
  text-align: center;
}

.cart-container .cart-icon::before {
  font-size: 15px;
  margin: 0px;
}

.cart-container a:hover {
  text-decoration: none;
  cursor: pointer;
}

.cart-container .price {
  font-weight: lighter;
}

.cart-container .total-price {
  margin: 15px;
  font-size: 19px;
}

.cart-container .total-price span {
  font-weight: bold;
}
