

.bodyy {
  direction: rtl;
  background-image: url(../Assets/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  /* padding-top: 70px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bodyy .bgg {
  width: 30%;
  background-color: rgba(26, 83, 92, 0.739);
  margin: 0 auto;
  border-radius: 10px;
  height: 75%;
  margin-top: 5%;
  color: white;
}

.aa {
  height: 53.5vh;
}

.bgg .img-c2 {
  text-align: center;
  margin-top: 15px;
}

.login {
  text-align: center;
}
 .mml {
   text-align: center;
 }

.footer2 {
  position: absolute;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  background-color: #1A535C;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.form-wrapper2 {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

.form-wrapper2 .btn-credit {
  width: 10em;
  background-color: #4ECDC4;
  border: solid  1px #1A535C;
  color: white;
  border-radius: 7px;
  text-align: center;
}

.mt-6 {
  margin-top: 80px !important;
  margin-bottom: 50px;
}

.btn a {
  color: white;
}
.btn a:hover{
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .bodyy .bgg {
    width:45%;
  }
}

.hiiii {
  padding-left: 3px;
  padding-left: 3px;
}